 {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kits</title>
    <link rel="stylesheet" href="{% static 'raco/css/style.css' %}">

</head>
<body>
   <h1>Kits</h1>
<p></p>
 <section class="categories">

    <h2>Nossos Kits</h2>

    <div class="cards">
      <h1><img src="{% static 'raco\static\img\raco.png' %}"></h1>
      <div class="card">
        <img src="raco/static/img/abe.png">
        <h3>Kits Festa</h3>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1519225421980-715cb0215aed?q=80&w=2070&auto=format&fit=crop">
        <h3>Convites</h3>
      </div>

      <div class="card">
        <img src="https://images.unsplash.com/photo-1469371670807-013ccf25f16a?q=80&w=2070&auto=format&fit=crop">
        <h3>Lembrancinhas</h3>
      </div>

</body>
</html>